@use '../../styles/_breakpoints.scss' as bp;
@use '../../styles/_flexbox.scss' as flex;
@use '../../styles/_variables.scss' as *;
 
.default{
    position: relative;
    width: 100%;
    padding: .5em 2em;
    max-width: map-get($breakpoints, 'xxl');
    height: auto;
    margin: 0 auto;
}

