@use '../../styles/_variables.scss' as *;
@use '../../styles/_flexbox.scss' as flex;
@use '../../styles/_breakpoints.scss' as bp;
@use '../../styles/_classes.scss' as class;

.default {
    border: none;
    background-color: transparent;

}

.nav{
    color: white;
    @include bp.breakpoint(md, min) {
        display: none;
    }
}

.hamburger{
    @extend  .default;
    @include flex.col(flex-start, flex-start);
    width: $default-button-size;
    height: $default-button-size;
    span{
        width: 100%;
        height: 100%;
        position: relative;
        border-bottom: 2px solid $primary;
    }
    @include bp.breakpoint(md, min) {
        display: none;
    }

}
.closeHamburger {
    @extend  .default;
    @extend  .first-cap;
    @include flex.col(center, center);
    position: absolute;
    right: 2rem;
    top: 2em;
    height:$default-button-size;
    width: $default-button-size;
    &>span{
        position: absolute;
        width: 100%;
        height: auto;
        border-bottom: 2px solid $primary;

        &:nth-child(1){
            transform: rotate(45deg);
        }
        &:nth-child(2){
            transform: rotate(-45deg);
        }
    }
}

.addTask{
    @extend  .default;
    @extend  .first-cap;
    background-color: $primary;
    color: white;
    padding: 1rem 2rem;
    transition: all 300 ease-in-out;
    width: 100%;
    &:hover{
        cursor: pointer;
        background-color: $primary-hov;
    }
}

.form-btn{
    background-color: red;
    color: white;
}
