@use '../../styles/_flexbox.scss' as flex;
@use '../../styles/_variables.scss' as *;
@use '../../styles/_classes.scss' as class;

.default{
    width: 100%;
    height: 100%;
    border-radius: $default-border-radius;
    gap: .5em;
    //#text
    span {
        @extend .first-cap;
        font-size: 1.2em;
    }
    input {
        border-radius: $default-border-radius;
        padding: $default-padding-inset;
        &::placeholder {
            @extend .capital;
        }
    }
}
.row {
    @extend .default;
    @include flex.row(center, center);
}

.column {
    @extend .default;
    @include flex.col(center, center);
}
