@use "../../styles/_variables.scss" as *;
@use "../../styles/_classes.scss" as classes;

.default {
    width: 100%;
}
.tasks {
    @extend .default;
    text-align: left;
    th {
        text-align: center;
        &:nth-child(1) {
            cursor: pointer;
            &:hover {
                background-color: $primary-hov;
                color: $white;
            }
            }
    }
    tbody {
        tr {
            td {
                @extend .first-cap;
            }
            &:nth-child(odd){
                background-color: #f2f2f2;
            }
        }
    }
}
