@use "../../styles/_variables.scss" as *;
@use "../../styles/_flexbox.scss" as flex;
@use "../../styles/_classes.scss" as classes;

.default {
    width: 100%;
}
.tasks {
    @extend .default;
    text-align: left;
    th {
        padding: $default-padding-inset;
        text-align: center;
        &:nth-child(1) {
            cursor: pointer;
            &:hover {
                background-color: $primary-hov;
                color: $white;
            }
        }
    }
    tbody {
        tr {
            td {
                @extend .first-cap;
            }
            &:nth-child(odd){
                background-color: #f2f2f2;
            }
        }
    }
}

.paginateContainer {
    @include flex.row(space-between, center );
    gap: 10px;
    width: 100%;
    border: 1px solid $primary;
    border-radius: $default-border-radius;
    padding: $default-padding-inset;
    span{
        @include flex.row( center,  center);
    }
    button {
        width: 40px;
        height: 40px;
        object-fit: contain;
        &:nth-child(1){
            transform: rotate(180deg);
        }
        &>img {
            height: 100%;
            object-fit: contain;
            &:hover {
                cursor: pointer;
                object-fit: unset;
            }
        }
    }
}
